extend layout
block content
    div#logo
        h3 Yamaha Dashboard
    div.mainwrapper
        div.col-md-6.widget
            div.panel.panel-primary
                div.widget-header.panel-heading App Usage
                div.app-widget-body.panel-body
                    div.chart-element
                        h4 New versus Returning Users
                        div#new-vs-returning-users
                    div.chart-element
                        h4 Top 5 Countries by Total Users
                        div#top-countries
                    div.chart-element
                        h4 Total Downloads by OS
                        div#total-downloads-byOS
                    div.chart-element.col-md-6.col-lg-12
                        h4 Total Downloads by Google Play Store
                        div#google-play-store-downloads
                    div.chart-element.col-md-6.col-lg-12
                        h4 Total Downloads by App Store
                        div#app-store-downloads
        div.col-md-6.widget
            div.panel.panel-primary
                div.widget-header.panel-heading Retention
                div.app-widget-body.panel-body
                    div.chart-element
                        h4 User Increase / Decrease
                        div#user-increase
                    div.chart-element.col-md-12
                        h4 Recency
                        div#recency
                    div.chart-element.col-md-12
                        h4 Loyalty
                        div#loyalty
        div.col-md-12.widget
            div.panel.panel-primary
                div.widget-header.panel-heading Insights
                div.app-widget-body.panel-body
                    div.chart-element.col-sm-6
                        h4 Most Popular Bikes
                        div#popular-bikes
                    div.chart-element.col-sm-6
                        h4 Most Popular Parts
                        div#popular-parts
                    div.chart-element
                        h4 Behavior Flow by OS
                        div#behavior-byOS


    script(src="js/app.js")