extend layout
block content
    div#logo
        h3 Yamaha Dashboard
        //div.dropdown
        //    button(type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-default dropdown-toggle") Time interval
        //        span.carret
        //    ul(aria-labelledby="dropdownMenu").dropdown-menu
        //        li
        //            a(href='#') Week
        //        li
        //            a(href='#') Month
        //        li
        //            a(href='#') Year
    div.modal.fade#loading
        div.modal-dialog
            img(src='../img/ajax-loader.gif')
    div.mainwrapper#content
        div.time-interval
            select#time-interval
                option(value='' selected='select' disabled='disabled') Time Interval
                option(value='week') Week
                option(value='month') Month
                option(value='year') Year
        div.col-md-6.widget
            div.panel.panel-primary
                div.widget-header.panel-heading App Usage
                div.app-widget-body.panel-body
                    div.chart-element
                        h4 New versus Returning Users
                        div#new-vs-returning-users
                    div.chart-element
                        h4 Top 5 Parts by Total Users
                        div#top-parts
                    div.chart-element.col-sm-12.col-md-6
                        h4 Top 5 countries by Android users
                        div#top-countries-android
                    div.chart-element.col-sm-12.col-md-6
                        h4 Top 5 countries by iOS users
                        div#top-countries-iOS
                    div.chart-element
                        h4 Total Downloads by OS
                        div#total-downloads-byOS
                    div.chart-element.col-md-6.col-lg-6
                        h4 Total Downloads by Google Play Store
                        div#google-play-store-downloads
                    div.chart-element.col-md-6.col-lg-6
                        h4 Total Downloads by App Store
                        div#app-store-downloads
        div.col-md-6.widget
            div.panel.panel-primary
                div.widget-header.panel-heading Retention
                div.app-widget-body.panel-body
                    div.chart-element
                        h4 User Increase / Decrease
                        div#user-increase
                    div.chart-element.col-md-12
                        h4 Recency
                        div#recency
                    //div.chart-element.col-md-12
                    //    h4 Loyalty
                    //    div#loyalty
                    div.chart-element.col-md-6.col-sm-6
                        h4 Loyalty Android
                        div#loyalty-android
                    div.chart-element.col-md-6.col-sm-6
                        h4 Loyalty iOS
                        div#loyalty-iOS
        div.col-md-12.widget
            div.panel.panel-primary
                div.widget-header.panel-heading Insights
                div.app-widget-body.panel-body
                    div.chart-element.col-xs-12.col-sm-6.col-lg-3
                        h4 Most Popular Bikes
                        div#popular-bikes
                    div.chart-element.col-xs-12.col-sm-6.col-lg-3
                        h4 Most Popular Parts
                        div#popular-parts
                    div.chart-element.col-xs-12.col-sm-6.col-lg-3
                        h4 Android exit events
                        div#android-exit-event
                    div.chart-element.col-xs-12.col-sm-6.col-lg-3
                        h4 iOS exit events
                        div#iOS-exit-event
                    div.col-lg-12
                        div.chart-element.col-xs-12.col-sm-6.col-lg-3
                            h4
                                | Total number of shares:
                                span#share-number
                        div.chart-element.col-xs-12.col-sm-6.col-lg-3
                            h4
                                | Saved Configurations:
                                span#saved-configs
                        div.chart-element.col-xs-12.col-sm-6.col-lg-3
                            h4
                                | Contacted a dealer:
                                span#dealer-contacted



    script(src="js/app.js")