extends layout
block vars
    - var bodyClass = 'background-login'

block content
    div.container
        div.account-wall-container
            div.account-wall
                div
                    img(class='profile-img',src='../img/login-logo.png')
                div
                    img(class='profile-img',src='../img/login-yamaha.png')
                p.clearfix
                p.clearfix
                form(class='form-login', action='/login', method='POST')
                    if (message && message.length > 0)
                        div.alert.alert-danger #{message}
                    div.left-icon-input.left-icon-input-username
                        input(type='text', name='username' class='form-input', placeholder='username',required, autofocus)
                    div.left-icon-input.left-icon-input-password
                        input(type='password', name='password' class='form-input', placeholder='password', required)
                    p.clearfix
                    button(class='btn btn-block btn-login', type='submit') Login
                    p.clearfix
                    p.clearfix
                    p.clearfix
                    p(class='text-center')
                        | Powered by&nbsp;
                        a(href="http://indg.com/",target="_blank") INDG

