extends layout
block vars
    - var bodyClass = 'background-login'

block content
    div.container
        div.account-wall-container
            div.account-wall
                div
                    img(class='profile-img',src='../img/login-logo.png')
                p.clearfix
                p.clearfix
                form(class='form-signin', action='/signup', method='POST')
                    if (message && message.length > 0)
                        div.alert.alert-danger #{message}
                    div.left-icon-input.left-icon-input-username
                    input(type='text', name='username', class='form-input', placeholder='username',required, autofocus)
                    div.left-icon-input.left-icon-input-password
                    input(type='password', name='password', class='form-input', placeholder='password', required)
                    //input(type='email', name='email', class='form-input', placeholder='Email',required)
                    //input(type='text', name='firstName', class='form-input', placeholder='First Name',required)
                    //input(type='text', name='lastName', class='form-input', placeholder='Last Name',required)
                    p.clearfix
                    button(class='btn btn-block btn-login', type='submit') Register
                    p.clearfix
                    p.clearfix
                    p.clearfix
                    p(class='text-center')
                        | Do you have an account ?&nbsp;
                        a(href="/login") Login
                    p(class='text-center')
                        | Powered by&nbsp;
                        a(href="http://indg.com/",target="_blank") INDG