/*
 * Import nib
 * nib automaticaly prefixes all atributes
 */
@import 'nib'

.vertical-spacer
  min-height: 30vh

.chart-element
  margin-bottom 40px

.time-interval
  min-height 50px

#user-increase
  width 400px