/*
 * Import nib
 * nib automaticaly prefixes all atributes
 */
@import 'nib'

.vertical-spacer
  min-height: 30vh

.chart-element
  margin-bottom 40px
  //clear both

.chart-element div h4
  float left

.chart-element div button
  float right

.time-interval
  min-height 50px

.app-id
  min-height: 50px;
  margin-left: 5px;

.country-select 
  min-height: 50px;
  margin-left: 5px;

#user-increase
  width 400px

.chart-element td
  text-align right

.chart-element th
  text-align right

.tab-content th:first-child,
.tab-content td:first-child,
#new-vs-returning-users th:first-child,
#new-vs-returning-users td:first-child,
#top-countries-android th:nth-child(2),
#top-countries-android td:nth-child(2),
#top-countries-iOS th:nth-child(2),
#top-countries-iOS td:nth-child(2)
  text-align left

.google-visualization-formatters-arrow-dr {
  padding-right: 13px !important;
  background: url(https://ajax.googleapis.com/ajax/static/modules/gviz/1.0/util/arrow_dr.png) no-repeat right !important
}
.google-visualization-formatters-arrow-ug {
  padding-right: 13px !important;
  background: url(https://ajax.googleapis.com/ajax/static/modules/gviz/1.0/util/arrow_ug.png) no-repeat right !important
}

#user-increase
   width 600px
   height 300px

#new-vs-returning-users
  width: 600px

.styled-select
  width: 90%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  margin: 5%
  //-webkit-appearance: none