/*
 * Import nib
 * nib automaticaly prefixes all atributes
 */
@import 'nib'

.vertical-spacer
  min-height: 30vh

.chart-element
  margin-bottom 40px
  //clear both

.chart-element div h4
  float left

.chart-element div button
  float right

.time-interval
  min-height 50px

 .app-id 
  min-height: 50px;
  margin-left: 5px;

.country-select 
  min-height: 50px;
  margin-left: 5px;

#user-increase
  width 400px

.chart-element td
  text-align left

#user-increase
   width 600px
   height 300px
