body {

    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

body.background-login {

    background-image: url("../img/login-background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    padding-left: 10px;
    margin-left: -10px;

}

a {
  color: #FFFFFF;
}

button {
    background-color: white;
    border: 1px solid #61b5c2;
    color: #61b5c2;
    padding: 5px 60px;
}

h1.error-message{
    color: red;
}


h4{
    color: #61b5c2;
}
ul.user-details{
    list-style: none;
}



.profile-img{
    width: 66px;
    margin: 0 auto 10px;
    display: block;
}
.new-account{
    display: block;
    margin-top: 10px;
}


/* sign-in  */
.form-signin {
    color: #696969;
    font-size: 12px;
}


/* end sign-in */
/* login */

.form-login {
    color: #696969;
    font-size: 12px;
}

.form-input,.form-input:focus {
    border-style: none;
    background-color: #303030 !important;
    border-bottom: 1px solid #6f6f6f;
    margin: 10px 0px;

    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #fff;
    background-image: none;

    padding-left: 40px;
}

.btn-login {
    background-color: #67b5c2;
    color:#FFFFFF;
    width: 50%;
    margin: 0 auto;
    padding: 10px 16px;
    font-size: 12px;
    line-height: 1.3333333;
    border-radius: 0px;
}

.account-wall-container {
    width: 300px;
    padding: 60px 20px;
    background-color: #303030;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.account-wall{

}

/* end login */

/* extra  */


.left-icon-input {
    position: relative;
    background-color: #dedede;
    display: inline;
}

.left-icon-input:before {
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 1;
}

.left-icon-input-username:before {
    content: url("../img/icon-user.png");
}

.left-icon-input-password:before {
    content: url("../img/icon-password.png");
}


/* end extra */

/* dashboard */

#wrapper {
    padding-left: 270px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 270px;
    width: 270px;
    height: 100%;
    margin-left: -270px;
    overflow-y: auto;
    background-color: #303030;
    /*
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    */
}

#sidebar-title {
    margin:20px 0px 5px 20px;
    color: #4b7e86;
    font-size: 30px;
}


#sidebar-subtitle {
    margin:10px 0px 10px 20px;
    color: #FFFFFF;
    font-size: 14px;
}

.sidebar-nav {
    width: 270px;
    margin: 30px 0px 0px 0px;
    padding: 10px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    border-bottom: 1px solid #454545;

    clear: both;
    padding: 10px 0px;
}


.sidebar-nav li.active {
    background-color: #454545;
}

.sidebar-nav li:hover {
    background-color: #454545;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li div:first-child {
    float: left;
}


.sidebar-nav li div:nth-child(2) {
    margin: 5px;
}

.sidebar-nav li p {
    display: block;
    color: #FFFFFF;
    font-size: 12px;
}


.sidebar-nav li p:nth-child(2) {
    color: #999999;
    font-size:10px;
}

#page-content-wrapper {
    padding: 20px 0px;
    width: 100%;
    position: relative;
}

.panel-primary {
    border-color: transparent;
}

.panel-heading {

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-primary>.panel-heading {
    background-color: #61b5c2;
    border-color: transparent;
}

/* end dashboard */
